@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --pomodoro-color: #ff6347; /* Pomodoro background color */
  --short-break-color: #6cb2eb; /* Short break background color */
  --long-break-color: #98fb98;
}

body {
  background-color: var(--pomodoro-color);
  background-color: var(--short-break-color);
  background-color: var(--long-break-color);  /* Initial background color */
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
