@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --pomodoro-color: #ff6347; /* Pomodoro background color */
  --short-break-color: #6cb2eb; /* Short break background color */
  --long-break-color: #98fb98;
}

/* Apply background color to body */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--pomodoro-color);
  background-color: var(--short-break-color);
  background-color: var(--long-break-color); /* Initial background color */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
